body{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    overflow: hidden;
    background-image: url("https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_640.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.imgContainer{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
img{
    position: relative;
    height: 600px;
    width: 500px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color:  rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}
.button{
    position: absolute;
    transition: 0.7s;
    height: 600px;
    width: 500px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}
.button:hover{
    background-color:  rgb(0, 0, 0, 0.2);
}
#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: 700px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider1:target ~ .imgContainer{
    left: 60%;
}
#slider2:target ~ .imgContainer{
    left: 40%;
}
#slider3:target ~ .imgContainer{
    left: 20%;
}
#slider4:target ~ .imgContainer{
    left: 0%;
}
#slider5:target ~ .imgContainer{
    left: -20%;
}
#slider6:target ~ .imgContainer{
    left: -40%;
}
#slider7:target ~ .imgContainer{
    left: -60%;
}
.center-text{
    text-align: center;
   
}
h1{
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}